:root{
    --content-background: #1c1b00;
    --form-background: #242200;
    --form-foreground: #dddddd;
    --form-buttons-color: #9e7a54;
    --form-message: #f03a70;
    --form-message-success: #4ce69b;
    --links-color: #3b8fff;
}

* {
    z-index: 10;
}

body{
    background-color: var(--content-background);
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#container{
    min-height: 550px;
    max-width: 400px;
    width:100%;
    margin-top: 50px;
    padding: 40px;
    background-color: var(--form-background);
    color:var(--form-foreground);
    border-radius: 3px;
    text-align: center;
}
.form-label{
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 1.4rem;
    font-weight: 600;
    width: 100%;
}
.input{
    padding: 0 10px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    font-weight: 550;
    background: var(--content-background);
    color: var(--form-foreground);
    border: 0;
    border-radius: 4px;
    box-shadow: none;
}
.form-input{
    margin-bottom: 20px;
}
.revealable-password{
    display: flex;
    justify-content: center;
    align-items: center;
}
#reveal-password{
    margin-left: 10px;
    cursor: pointer;
    background: var(--form-foreground);
}
#message{
    color: var(--form-message);
    translate: 0 -50px;
    display: block;
    transition: 500ms;
    opacity: 0;
    height: 0;
    z-index: 0;
}
#message.show{
    translate: 0;
    opacity: 1;
    height: min-content;
}
#message.success{
    translate: 0;
    opacity: 1;
    height: min-content;
    color: var(--form-message-success) !important;
}
form .submit{
    color: var(--form-foreground);
    cursor: pointer;
    background-color: var(--form-buttons-color);
    display: inline-block;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    margin: 20px 0;
}
.button-load{
    padding: 10px;
    border: 3px solid white;
    border-top: 3px solid black;
    border-radius: 50px;
}
.button-load.show{
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
form .submit *{
    display: none;
}
form .submit *.show{
    display: block;
}
#container a{
    text-decoration: none;
    color: var(--form-foreground);
    margin-top: 20px;
    display: block;
    font-size: 1rem;
}
#container a:hover{
    color: var(--links-color);
    cursor: pointer;
}
.center-link{
    display: flex;
    justify-content: center;
}


@media(max-width: 760px){
    #container{
        margin-top: 0;
        min-height: 100vh;
        max-width: 100%;
    }
}
