:root{
  /*color palette https://coolors.co/palettes/trending*/
  --header-bg-color: #242200;
  --header-buttons-color: #9e7a54;
  --header-foreground: #dddddd;
}

* {
    box-sizing: border-box;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.display-none{
  display: none !important;
}

body {
  padding: 0;
  margin: 0;
  font-family:Roboto,sans-serif;
}

#header{
  display: flex;
  align-items: center;
  background-color: var(--header-bg-color);
  padding: 20px 50px 20px 10px;
}
#logo{
  flex: 0 0 auto;
  font-size: 2rem;
  text-decoration: none;
  margin-left: 40px;
  color: var(--header-foreground);
}
#logo img{
  width: 50px;
}
#header-spacer{
  flex: 1 0 auto;
}
#logout,#login,#signup{
  flex: 0 0 auto;
  align: center;
  text-decoration: none;
}

#header #login{
  font-weight: bold;
  font-size: 1.1rem;
  margin-right: 20px;
  color: var(--header-foreground);
}
#header .header-button{
  background: var(--header-buttons-color);
  border: none;
  border-radius: 5px;
  color: var(--header-foreground);
  font-size: 1.2rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
}
