<%- include('header', {page:'forgotPassword'}); -%>

    <div id="content">
        <div id="container">
            <p class="form-label">Reset password</p>
            <form>
                <input id="email" class="input form-input" type="email" autocomplete="username" placeholder="Email" required/>
                <span id="message"></span>
                <button type="submit" class="submit"><span class="button-text show">Send reset link</span><div class="button-load"></div></button>
            </form>
        </div>
    </div>
</body>
<script type="text/javascript" src="/js/forgotPassword.js"></script>
</html>
