<%- include('header', {page: 'home'}); -%>
<script type="text/javascript">
    if(localStorage.getItem('refreshToken') === null) location.href = '/';
</script>
<div class="main-container">
    <div id="memo-list" class="home-pane">
        <div class="list-container">
            <template id="memo-template">
                <li>
                    <div class="item">
                        <span class="memo-title">Memo Title</span>
                        <span class="delete-memo-button">x</span>
                    </div>
                    <div class="memo-separator"></div>
                </li>
            </template>
            <ul>
            </ul>
        </div>
        <div id="new-memo-div">
            <span id="new-memo-button">New Memo</span>
            <input id="new-memo-input" class="collapse" type="text" pattern="[\w\d]+"/>
        </div>
    </div>

    <div id="memo-container" class="home-pane">
        <textarea id="memo-textarea"></textarea>
        <div id="save-memo-button">SAVE</div>
    </div>

    <div id="settings" class="home-pane">
    </div>
</div>

</body>
<script type="text/javascript" src="/js/home.js"></script>
</html>
