<%- include('header', {page:'login'}); -%>

    <div id="content">
        <div id="container">
            <p class="form-label">Login</p>
            <form>
                <input id="login-email" class="input form-input" type="email" autocomplete="username" placeholder="Email" required/>
                <div class="revealable-password form-input">
                    <input id="login-password" class="input" name="pwd" type="password" autocomplete="current-password" placeholder="Password" required/>
                    <div id="reveal-password" class="icon-eye"></div>
                </div>
                <span id="message"></span>
                <button type="submit" class="submit"><span class="button-text show">Login</span><div class="button-load"></div></button>
            </form>
            <div class="center-link"><a href="/forgotPassword">I forgot my password</a></div>
            <div class="center-link"><a href="/signup">Create an account</a></div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/js/login.js"></script>
</html>
