<%- include('header', {page:'signup'}); -%>

    <div id="content">
        <div id="container">
            <p class="form-label">Sign up to MemoSync</p>
            <form>
                <input id="signup-email" class="input form-input" type="email" autocomplete="username" placeholder="Email" required/>
                <div class="revealable-password form-input">
                    <input id="signup-password" class="input" name="pwd" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[&._\-*!?#@$]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" type="password" autocomplete="new-password" placeholder="Password" required/>
                    <div id="reveal-password" class="icon-eye"></div>
                </div>
                <input id="signup-password-confirm" class="input form-input" name="pwd" type="password" autocomplete="new-password" placeholder="Confirm password" required/>
                <span id="message"></span>
                <button type="submit" class="submit"><span class="button-text show">Sign up</span><div class="button-load"></div></button>
            </form>
            <div class="center-link"><a href="/login">I already have an account</a></div>
            <div class="center-link"><a href="/resendVerif">Resend verification email</a></div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/js/signup.js"></script>
</html>
