<%- include('header', {page:'verifEmail'}); -%>

    <div id="content">
        <div id="container">
            <p id="text" class="form-label">Processing</p>
            <div class="center-link"><a id="button" href="/login"></a></div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/js/verifEmail.js"></script>
</html>
