<%- include('header', {page: 'welcome'}); -%>
<script type="text/javascript">
    if(localStorage.getItem('refreshToken') !== null) location.href = '/home';
</script>
<h1>MemoSync c'est cool en vrai promis</h1>

</body>
<script type="text/javascript" src="/js/welcome.js"></script>
</html>
