body {
  height: min-content;
  width: min-content;
  outline: none;
}

.user_name_div{
  height: min-content;
  width: min-content;
}
.main_div#memo_div{
  height: 300px;
  width: 300px;
}
.main_memo_div{
  height: 100%;
  width: 100%;
}

#memo{
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  resize: none;
}

#loading_span{
  display:none;
}